@use "/src/partials/colors";

.latest-comment {
  border-left: 0.125rem solid colors.$accent;
  padding: 0 0.5rem;

  * + & {
    margin-top: 0.5rem;
  }
}

.posted-on {
  margin-top: 0.5rem;
  color: colors.$faded-txt;
}
