$primary: #3b5bdb;
$background: #ffffff;
$bright-border: #efefef;
$body: #e9ecef;
$accent: #364fc7;

$bright-txt: #ffffff;
$dark-txt: #000000;
$faded-txt: #696969;

$danger: #ff0000;
$success: #008000;

$events: (
  conference: #a0f4dc,
  party: #fcd3d4,
);
