@use "/src/styles/colors";

.content {
  gap: 0.25rem;

  &--big {
    padding: 1rem;
    gap: 1.1875rem;
  }

  &__header {
    font-weight: 500;
    font-size: 1.125rem;

    &--big {
      font-family: "Roboto Slab", serif;
      font-weight: 400;
      font-size: 2rem;
      line-height: 2.625rem;
      letter-spacing: 0.02em;
    }
  }

  &__text {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  &__published,
  &__tags,
  &__keywords {
    color: colors.$faded-txt;
  }

  &__published,
  &__tags {
    font-size: 1rem;
    line-height: 1.1875rem;
  }

  &__tags {
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
  }

  &__divider,
  &__dividing-dot {
    background-color: colors.$faded-txt;
  }

  &__divider {
    height: 1px;
    width: 100%;
  }

  &__keywords {
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
    max-width: 100%;
    flex-wrap: wrap;
  }

  &__dividing-dot {
    display: inline-block;
    height: 0.25rem;
    width: 0.25rem;
    aspect-ratio: 1;
    border-radius: 50%;
    margin: 0 0.75rem;

    @media only screen and (min-width: 800px) {
      &:nth-of-type(3) {
        opacity: 0;
      }
    }
  }

  &__keyword {
    &--tomorrow {
      color: colors.$danger;
    }

    &--going {
      color: colors.$success;
    }
  }
}
