.latest-comment {
  border-left: 0.125rem solid var(--accent-color);
  padding: 0 0.5rem;
}

* + .latest-comment {
  margin-top: 0.5rem;
}

.postedOn {
  margin-top: 0.5rem;
  color: var(--faded-txt);
}
