.post {
  background-color: var(--secondary-color);
  width: 100%;
}

.post-cover {
  object-fit: cover;
  width: 100%;
}

.content {
  padding: 1rem;
  gap: 0.9rem;
}

.published,
.tags,
.user-metrics {
  color: var(--faded-txt);
}

.post .divider,
.post .dividing-dot {
  background-color: var(--faded-txt);
}

.tags,
.user-metrics {
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.post .divider {
  height: 1px;
  width: 100%;
}

.post .dividing-dot {
  display: inline-block;
  height: 4px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
