.post {
  background-color: var(--background-color);
  width: 100%;
}

.post-cover {
  object-fit: cover;
  width: 100%;
}

.content {
  padding: 1rem;
  gap: 1.1875rem;
}

.post .post-title {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.625rem;
  letter-spacing: 0.02em;
}

.published,
.tags,
.user-metrics {
  font-size: 1rem;
  line-height: 1.1875rem;
  color: var(--faded-txt-color);
}

.post-text {
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.post .divider,
.post .dividing-dot {
  background-color: var(--faded-txt-color);
}

.tags,
.user-metrics {
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
}

.post .divider {
  height: 1px;
  width: 100%;
}

.post .dividing-dot {
  display: inline-block;
  height: 0.25rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
