.search-box {
  flex-direction: row;
  border-radius: 0.25rem;
  border: 0.125rem solid var(--bright-border-color);
  overflow: hidden;
}

.text-input,
.search-btn {
  border: 0;
}

.text-input {
  width: 100%;
  padding: 0.8rem 1rem;
  background-color: var(--background-color);
}

.search-btn {
  background-color: var(--primary-color);
  background-image: url("/public/icons/search.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 4rem;
  cursor: pointer;
}
