.search-box {
  flex-direction: row;
  border-radius: 0.25rem;
  box-shadow: 0 0 0 0.125rem var(--bright-border-color);
  overflow: hidden;
}

.text-input,
.search-btn {
  border: 0;
}

.text-input {
  flex: 1 0 auto;
  padding: 1rem;
  background-color: var(--background-color);
}

.search-btn {
  flex: 0 0 4rem;
  background-color: var(--primary-color);
  background-image: url("/public/icons/search.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 4rem;
  cursor: pointer;
}
