.snippet {
  flex-direction: row;
  align-items: center;
  gap: 1.6rem;
}

.conference {
  --snippet-border-color: var(--conference-color);
}

.party {
  --snippet-border-color: var(--party-color);
}

.snippet-img {
  position: relative;
  width: 4rem;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px var(--snippet-border-color);
}

.snippet-img > * {
  border-radius: 50%;
}

.snippet-img > img {
  width: inherit;
  z-index: 10;
}

.snippet-content {
  gap: 0.2rem;
}

.snippet-name,
.snippet-date {
  font-weight: 500;
}

.snippet-date {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 100%;
}

.snippet-keywords {
  flex-direction: row;
  align-items: center;
  color: var(--faded-txt-color);
  font-size: 16px;
}

.snippet-keyword {
  flex-direction: inherit;
  align-items: inherit;
}

.snippet-keyword.danger {
  color: var(--danger-color);
}

.snippet-keyword.success {
  color: var(--success-color);
}

.snippet .dividing-dot {
  background-color: var(--faded-txt-color);
  display: inline-block;
  height: 4px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin: 0 0.8rem;
}
