@use "/src/styles/colors";

.post {
  background-color: colors.$background;
  width: 100%;

  &__cover {
    object-fit: cover;
    width: 100%;
  }
}

.content {
  padding: 1rem;
  gap: 1.1875rem;

  &__title {
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.625rem;
    letter-spacing: 0.02em;
  }

  &__published,
  &__tags {
    font-size: 1rem;
    line-height: 1.1875rem;
    color: colors.$faded-txt;
  }

  &__text {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  &__divider {
    background-color: colors.$faded-txt;
    height: 1px;
    width: 100%;
  }

  &__tags {
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
  }
}

.metrics {
  font-size: 1rem;
  line-height: 1.1875rem;
  color: colors.$faded-txt;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;

  &__dividing-dot {
    background-color: colors.$faded-txt;
    display: inline-block;
    height: 0.25rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
  }
}
