.flex {
  display: flex;
  flex-direction: column;
}

.container {
  width: min(100%, 1200px);
  margin: 3.2rem auto 0;
  padding: 1rem;
  gap: 2.2rem;
}

.posts {
  width: 100%;
  gap: 1rem;
}

.collections {
  width: 100%;
  gap: 2.2rem;
}

.collection {
  gap: 1.3rem;
}

@media only screen and (min-width: 800px) {
  .container {
    flex-direction: row;
  }

  .collections {
    width: 66%;
  }
}
