@use "partials/colors";
@use "partials/variables";

.flex {
  display: flex;
  flex-direction: column;
}

.container {
  width: variables.$max-container-width;
  margin: 7rem auto 0;
  padding: 1rem;
  gap: 2.2rem;
}

.posts {
  flex: 1 1 auto;
  gap: 1rem;
}

.collections {
  flex: 0 0 22rem;
  gap: 2.25rem;
}

.collection {
  gap: 1.5rem;
}

@media only screen and (min-width: 800px) {
  .container {
    flex-direction: row;
  }
}
